@model IEnumerable<WebAdmin.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Product List</h2>

<p>
    @Html.ActionLink("Add New Product", "ProductCreate","", new { @class = "btn btn-primary" })
</p>
<div>
    @using (Html.BeginForm("ProductIndex", "Admins", FormMethod.Get))
    {

        <label>Search by name:</label>
        <input type="text" name="pName" placeholder="Enter any character" />
        <input type="submit" value="Search"class="btn btn-warning" />

    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "ProductEdit", new { id = item.ProductId }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Details", "ProductDetails", new { id = item.ProductId },new { @class = "btn btn-success" }) 
            @Html.ActionLink("Delete", "ProductDelete", new { id=item.ProductId },
                            new { onclick = "return confirm('Are you sure you want to delete this product?')", @class = "btn btn-danger" })
        </td>
    </tr>
    }

</table>
